/* Auth.css */

body {
    background-color: #f9f9f9; /* Set a light gray background color */
    color: #333; /* Set text color to a dark shade of gray */
    font-family: Arial, sans-serif; /* Use Arial or fallback to sans-serif */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100vh; /* Set the height to full viewport height */
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff; /* Set background color of container to white */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    justify-content: space-around;
  }
  h2 {
    padding-bottom: 20px;
    justify-content: center;
  }
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px; /* Increase padding for input fields */
    margin-bottom: 20px; /* Increase margin between input fields */
    border: 1px solid #ddd; /* Use a lighter border color */
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 12px; /* Increase padding for buttons */
    border: none;
    border-radius: 5px;
    background-color: #ff7f50; /* Set button background color to an orange shade */
    color: #fff; /* Set button text color to white */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Add some margin between buttons */
  }
  
  button:hover {
    background-color: #ff6347; /* Darken button color on hover */
  }
  